<article
  class="word-card"
  id="{{ wordId }}"
  aria-labelledby="{{ titleId }}"
  data-levels="{{ levelTokens }}"
  data-search-word="{{ searchWordText }}"
  data-search-meaning="{{ searchMeaningText }}"
  data-search-levels="{{ searchLevelText }}"
>
  <div class="word-card-flow">
    {{ flowItems }}
  </div>
</article>
