<a class="word-link-chip" href="./{{ slug }}.html#{{ targetId }}" title="{{ title }}">
  <span class="word-link-index">{{ wordOrderLabel }}</span>
  <span class="word-link-word">{{ wordText }}</span>
  <span class="word-link-levels">{{ levelsText }}</span>
</a>